Package: voxl-tflite-server
Version: 0.5.1
Section: base
Priority: optional
Architecture: arm64
Depends: libmodal-pipe,libmodal-json, qrb5165-tflite
Maintainer: modalai.com
Description: client of voxl-camera-server that does deep learning
Conflicts: voxl-mpa-tflite-server
Replaces: voxl-mpa-tflite-server
